{{ $context := .context }}
{{ $currentPage := .currentPage }}
{{ $sortAlphabetically := .sortAlphabetically | default false }}
{{ $sortSubsectionsByDate := .sortSubsectionsByDate | default false }}

{{ with $context }}
    {{ $page_children := where ( union .Sections .Pages ) "Kind" "page" }}
    {{ $section_children := where ( union .Sections .Pages ) "Kind" "!=" "page" }}

    {{/* show page child first than section child */}}
    {{ $children := $section_children | append $page_children }}

    {{/* Sort children alphabetically if requested */}}
    {{ if $sortAlphabetically }}
        {{ $children = $children.ByTitle }}
    {{ end }}

    <ul class="section-tree">
        {{ range $children }}
            {{ if .IsNode }}
                <li
                    {{ if .IsAncestor $currentPage }}
                        class="dir opened-dir"
                    {{ else }}
                        class="dir closed-dir"
                    {{ end }}>
                    <span class="dir-text"> {{ .Title }} </span>

                    {{ if $sortSubsectionsByDate }}
                        {{ partial "module/section_tree" ( dict "context" . "currentPage" $currentPage "sortAlphabetically" false "sortSubsectionsByDate" true ) }}
                    {{ else }}
                        {{ partial "module/section_tree" ( dict "context" . "currentPage" $currentPage "sortAlphabetically" $sortAlphabetically ) }}
                    {{ end }}
                </li>
            {{ else }}
                <li class="file">
                    <a href="{{ .Permalink }}" title=".{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
{{ end }}