{{ define "main_article" }}
    <article class="main">

        
        <div class="home">
            <div class="title">
                <h1 class="title-caption">{{ $.Site.Params.header.my_title }}</h1>
            
                {{ with $.Site.Params.header.subtitle }}
                    <h2 class="subtitle">
                        {{ . }}
                    </h2>
                {{ end }}
            </div>

            <div></div>
            <img src="{{ $.Site.Params.header.path }}" alt="" width="280" height="200" style="margin-top: 35px;" />

            <div class="recommend">
                <div class="left">
                    <div class="start">
                        {{ with $.Site.Params.homePage.siteLongDescription }}
                            <a href="https://yli12313.github.io/" target="_blank" style="display: inline-block;">
                                <h3 class="custom-title" style="display: inline-block; margin: 0;">
                                    {{ $.Site.Params.homePage.siteLongDescriptionTitle | default "Start" }}
                                </h3>
                            </a>
                            <h3 class="custom-title-2" style="display: inline-block; margin: 0; margin-left: 1px;"> 📚</h3>
                            <p class="long-description">
                                {{ . }}
                            </p>
                        {{ end }}
                    </div>
                    <div class="recent">
                        {{ with $.Site.Params.homePage.showRecentPostsBlock }}
                            <h3 class="recommend-title">
                                {{ i18n "recent_posts" | title }}
                            </h3>
                            <ul class="recent-posts-list">
                                {{ range ( $.Site.RegularPages | first ($.Site.Params.homePage.numOfRecentPosts | default 5) ) }}
                                    {{ $page := . }}
                                    <li>
                                        <a
                                            href="{{ .Permalink }}"
                                            title=".{{ .RelPermalink }}"
                                            >{{ $page.Title }}</a
                                        >
                                    </li>
                                {{ end }}
                            </ul>
                        {{ end }}
                    </div>
                </div>
                <div class="right">
                    <h3 class="recommend-title">
                        {{ i18n "walkthroughs"  | title }}
                    </h3>
                    {{ partial "module/section_tree" ( dict "context" . "currentPage" . "sortAlphabetically" true "sortSubsectionsByDate" true ) }}
                </div>
            </div>
        </div>
    </article>
{{ end }}
